#svg1{
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

#svg2{
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

#svg3{
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

.buttons{
    text-align: center;
}

.next_page{
    text-align: right;
}